.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

body {
  margin: 0;
}

input {
  display: block;
  margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

a.active {
  text-decoration: underline;
  color: blue;
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
